@import url(/src/index.css);

.cardContainer{
    @apply container flex flex-row gap-6 items-center border-2 rounded-md mb-4 lg:w-[42rem] w-[36rem];
}

.cardMain {
    @apply card flex flex-col mr-4 py-4 gap-[0.20rem] w-full;
}

.reqBtn{
    @apply card-content flex flex-row items-center justify-between;
}

/* MEDIA */
@media (max-width: 884px) {
    .container{
        display: flex;
        flex-direction: column!important;
        justify-content: center!important;
        width: 20rem!important;
    }

    .container img{
        @apply rounded-t-md rounded-b-none w-auto h-auto;
    }

    .card{
        @apply flex px-1 mx-0 ml-4;
    }

    .card-content{
        margin-top: 1rem;
        display: flex;
        flex-direction: column!important;
    }

    .cardMain {
        @apply items-center m-0;
    }
}

@media (max-width: 425px) {
    .container{
        width: 14rem!important;
        justify-content: center!important;
    }

    .container img{
        @apply rounded-t-md rounded-b-none w-auto h-auto;
    }
}