@import url(/src/index.css);

/* MEDIA */
@media (max-width: 884px) {
    .container{
        display: flex;
        flex-direction: column!important;
        justify-content: center!important;
        width: 16rem!important;
    }

    .container img{
        @apply rounded-t-md rounded-b-none w-auto h-auto;
    }

    .card{
        @apply flex px-1 mx-0 ml-4;

    }

    .card-content{
        margin-top: 1rem;
        display: flex;
        flex-direction: column!important;
    }
}

@media (max-width: 425px) {
    .container{
        width: 14rem!important;
        justify-content: center!important;
    }

    .container img{
        @apply rounded-t-md rounded-b-none w-auto h-auto;
    }
}