@import url(/src/index.css);

.navlink {
  color: var(--primary-color);
  font-family: var(--heading-font);
}

.active,
div .navlink:not(.active):hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

/* MEDIA */
@media (min-width: 1024px) {
  .top-navbar {
    width: 0 !important;
    display: inline-flex !important;
  }
}

@media (max-width: 884px) {
  .top-navbar,
  .navSmall {
    width: 100%;
    margin-inline: 0;
  }

  .user-profile{
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 425px) {
  .logo{
    width: 10rem;
  }
  div > .navlink {
    margin-inline: 0;
  }

  .userNav {
    margin: 0 auto;
  }
}