@import url(/src/index.css);

.userPasswordForm{
    @apply flex flex-col justify-center items-center w-fit lg:w-full md:mx-8 xl:mx-24 mt-8 md:mt-0 green;
}

.passwordForm{
    @apply flex flex-col justify-center mr-2 md:mr-0;
}

.inputPassword{
    @apply py-2 pl-4 pr-14 md:pr-60 rounded-md bg-[--secondary-color] text-[--neutral-color] outline-[--primary-color];
}

.passwordIcon{
    @apply absolute inset-y-0 right-0 pr-4 pt-[0.5em] cursor-pointer;
}

/* MEDIA */
@media (max-width: 425px) {
    .inputPassword{
        padding-right: 8em;
    }

    .passwordForm{
        margin-right: 2em;
    }
}

@media (max-width: 380px) {
    .inputPassword{
        padding-right: 2em;
    }

    .passwordForm{
        margin-right: 0;
    }
}